body {
  background-color: wheat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h3 {
  color: cadetblue;
}
a {
  height: 2vh;
}
button:hover {
  cursor: pointer;
  background-color: aquamarine;
  transition: 250ms;
}
