body {
  background-color: black;
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}
header {
  color: aliceblue;
}
#mainGame {
  display: grid;
  border: 1px solid white;
  height: 40%;
  width: 40%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.test {
  border: 1px solid rebeccapurple;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: navajowhite;
}

/* .res {
  border: 1px;
  display: grid;
  align-items: center;
  grid-row: 1/5;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
} */

/* make some boxes different */
