body {
  background-color: darkslategrey;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vh;
  color: wheat;
}
h3 {
  color: cadetblue;
}
a {
  height: 2vh;
}
button:hover {
  cursor: pointer;
  background-color: aquamarine;
  transition: 250ms;
  box-shadow: 0 0 3vh red;
}
